@font-face {
  font-family: 'B612-a';
  src: url(./fonts/B612-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'Roboto-a';
  src: url(../font/Roboto-VariableFont_wdth,wght.ttf) format("ttf");
}
